/* Asterisk wildcard selector to change the default browser setting*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General style */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    background-color: green;
}

/* Main */
main {
    background-color: #ffffff;
    /* Make main content take up surplus space */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: #008000;
}