/* Asterisk wildcard selector to change the default browser setting*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header */
header {
    background-color: green;
}

/* Main */
main {
    background-color: #ffffff;
}

/* Footer */
footer {
    background-color: #008000;
}